{% extends 'base_template.html' %}
{% block links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_gener.css' %}"/>
    <script src="{% static 'js/choos_user_in_team.js' %}"></script>
{% endblock %}
{% block body_app %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <ul class="user_info list-group">
                    {% for user in all_users %}
                        <li class=" list-group-item"
                            data-user_id="{{user.user_id}}">
                            {{ user.first_name }}
                            {{ user.last_name }}
                            ({{ user.rang }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 col-sm-4">
                    <button id="add_user">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                    <button id="delete_user">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
            </div>
            <div id="selected_user" class="col-sm-4 col-md-4">
                <ul class="choosed_users list_group">

                </ul>
            </div>
        </div>
    </div>
    <div class="submit_button text-center">
        <a href="" class="btn btn-default" id="res_but"
           data-url="{% url 'teams:generation' tour_id %}">
            Generate
        </a>
    </div>
{% endblock %}