{% extends 'base_template.html' %}
{% block links %}
        {% load static %}
         <script src="{% static 'js/team_in_tour.js' %}"></script>
 <script src="{% static 'js/jsrender.js' %}" type="text/javascript"></script>
<script type="text/x-jsrender" id="my_templ" >
    {% verbatim %}
    <tr>
        <td>
            {{:name}}
        </td>
        <td>
        {{if logo}}
            <img src="/{{:logo}}" />
        {{else}}
            <img src="/static/teams_logo/your-logo-here.png" />
        {{/if}}
        </td>
    </tr>
    {% endverbatim %}
</script>

{% endblock %}
{% block body_app %}
        <div class="dropdown">
            <label>Choose tour</label>
            <select id="my_select" class="form-control" data-tour_id="{{ tour_id }}">
                {% for tour in tours %}

                    <option value="{{ tour.id }}" class="tour"
                            data-create_url="{% url 'teams:create_team' tour.id %}"
                            data-url="{% url 'teams:team_in_tour' tour.id %}"
                            data-url_gen="{% url 'teams:generate_teams' tour.id %}"
                            data-url_edit_tour="{% url 'tour:edit' tour.id %}"
                            data-tour_mode="{{ tour.mode }}">
                        {{ tour.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <table class="table table-hover">
                <tbody id="teams">
                 </tbody>
            </table>
        </div>
        {% if user.is_superuser %}
            <a id="generate_team" href="" class="btn btn-default">
                Generate Teams
            </a>
            <a id="create_team" href="" class="btn btn-default">
                Create Teams
            </a>
            <a id="create_tour" href="{% url 'tour:tour' %}" class="btn btn-default">
                Create Tour
            </a>
            <a id="edit_tour" href="" class="btn btn-default">
                Edit Tour
            </a>
        {% endif %}
{% endblock %}