img{
    height: 30px;
    width: 30px;
}

.my_body{
    display: block;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000;
}

.vertical li.placeholder {
  position: relative;
}
.vertical li.placeholder:before {
  position: absolute;
   content: "";
   border-color: transparent #008eef;
   border-style: solid;
   border-width: 0.35em 0 0.35em 0.45em;
   display: block;
   height: 0;
   width: 0;
   left: -1em;
   top: 0.9em;
   position: relative;
}

.simple_with_animation li{
    display: block;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.simple_with_animation{
    list-style: none;
    min-height: 10px;
}